* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: linear-gradient(45deg, #048ABF, #CED979);
    font-family: "bicyclette", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    color: white;
    font-family: "bicyclette", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #048ABF, #CED979);
    padding: 5px 2px 2px 8px;
    width: 100%;
}

nav a {
    color: white;
    font-family: "bicyclette", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    margin-right: 15%;
}

nav a:hover {
    color: #CED979;
    text-decoration: underline;
}

header {
    text-align: center;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}

h2 {
    color: #0D2601;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.column {
    flex: 0 0 42%;
    text-align: center;
    margin-bottom: 20px;
}

.column img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}

.column h4 {
    color: #0D2601;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: -5px;
    text-align: left;
}

.column p {
    margin: 20px 0;
    margin-bottom: 40px;
    padding: 0 20px;
    text-align: left;
}

.column h5 {
    margin-top: 20px;
}

.column ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.column ul li {
    margin-bottom: 10px;
}

.important-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.important-section .left-column {
    flex: 1;
    padding-right: 20px;
}

.important-section .right-column img {
    max-width: 100%;
}

.important-section h4 {
    color: #0D2601;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
}

.important-section ul {
    list-style-type: none;
    padding: 0;
}

.important-section ul li {
    margin-bottom: 10px;
    text-align: left;
}

.merch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.merch-info {
    flex: 1;
    padding-right: 10px;
}

.merch-image {
    flex: 1;
    text-align: center;
}

.merch-image img {
    max-width: 100%;
    margin-right: 50px;
}

footer {
    background-color: #265902;
    text-align: right;
    padding: 10px;
    width: 100%;
}

footer a {
    color: white;
}